@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<div>@_testList.Count</div>

<TestComponent></TestComponent>

<div>
    @foreach (var item in _testList)
    { 
        <div>@item</div>
    }
</div>

<SurveyPrompt Title="How is Blazor working for you?" />
