@page "/"

<h1 class="red">Hello, world!</h1>

Welcome to your new app.

<div class="test-css">@_testList.Count</div>

<TestComponent></TestComponent>

<div>
    @foreach (var item in _testList)
    { 
        <div>@item</div>
    }
</div>

<SurveyPrompt Title="How is Blazor working for you?" />


